/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font-main);
  background-color: var(--background-color);
  color: var(--text-color);
  background-image: url("../images/cover-image-light.png");
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(2, calc(50vw - 20px));
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  min-height: 768px;
  margin-bottom: 60px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  grid-column: span 2;
  width: 100%;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 13px 0 13px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--text-color);
}

.header__title {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--header-title-color);
  line-height: 0.95;
  grid-column-start: 1;
  grid-column: span 2;
}

.header__title-decor {
  grid-column-start: 2;
}

.title-decor {
  background-color: var(--decor-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.13;
}

/* Секция main */

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  gap: 20px;
}

.section__title {
  grid-row: 1 / -4;
  font-weight: 700;
}

.section__article-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.align-row {
  flex-direction: row;
  grid-row: 2;
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-decor-regular {
  background-color: var(--decor-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.13;
}
