/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/* Общие переменные */
:root {
  --font-main: "IBM Plex mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Светлая тема */
.page.theme_light {
  --background-img-url: url("../images/cover-image-light.png");

  --text-color: #353430;
  --header-title-color: #ffc2e6;

  --accent-color: var(--text-color);
  --shadow-text-color: #ff0070;

  --button-hover-color: rgba(50, 49, 45, 0.4);

  --decor-text-color: var(--text-color);
  --decor-background-color: #ff8dcb;

  --visible-decoration-block: none;
}

/* Темная тема */
.page.theme_dark {
  --text-color: #f1b2ce;
  --header-title-color: #db00ff;

  --accent-color: #ff0070;
  --shadow-text-color: var(--accent-color);

  --button-hover-color: rgba(255, 0, 112, 0.4);

  --decor-text-color: #000028;
  --decor-background-color: var(--accent-color);

  --visible-decoration-block: inline-block;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-img-url: url("../images/cover-image-light.png");

    --text-color: #353430;
    --header-title-color: #ffc2e6;

    --accent-color: var(--text-color);
    --shadow-text-color: #ff0070;

    --button-hover-color: rgba(50, 49, 45, 0.4);

    --decor-text-color: var(--text-color);
    --decor-background-color: #ff8dcb;

    --visible-decoration-block: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-img-url: url("../images/cover-image-dark.png");

    --text-color: #f1b2ce;
    --header-title-color: #db00ff;

    --accent-color: #ff0070;
    --shadow-text-color: var(--accent-color);

    --button-hover-color: rgba(255, 0, 112, 0.4);

    --decor-text-color: #000028;
    --decor-background-color: var(--accent-color);
  }
}
